<h2>{{titre}}</h2>
<a routerLink="/add">
    <button mat-flat-button 
            color="accent"
    >
        Ajouter un devoir
   </button>
</a>

<h3>Ici en liste</h3>
<p>Nombre total d'assignments dans la base : {{totalDocs}}</p>
<p>
    Nombre de documents par page : {{limit}}
    <input
            type="range" min="1" max="100" step="1" value=4
           [(ngModel)]="limit" (change)="getAssignments()"
    >
</p>
<p>Page courante : {{page}}</p>
<p>Nombre total de pages : {{totalPages}}</p>
<p>
    <button mat-flat-button 
        color="primary"
        (click)="premierePage()">
    PREMIERE
    </button>
    <button mat-flat-button 
            color="primary"
            [disabled]="page === 1"
            (click)="pagePrecedente()">
     PAGE PRECEDENTE
    </button>
    <button mat-flat-button 
            color="primary"
            [disabled]="page === totalPages"
            (click)="pageSuivante()">
     PAGE SUIVANTE
    </button>
    <button mat-flat-button 
            color="primary"
            (click)="dernierePage()">
     DERNIERE
    </button>
</p>

<mat-paginator [length]="totalPages"
               [pageSize]="limit"
               [pageSizeOptions]="[5, 10, 25, 100]"
               aria-label="Select page"
               (page)="onPageEvent($event)">
</mat-paginator>
<table mat-table [dataSource]="assignments" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>
  
    <ng-container matColumnDef="dateDeRendu">
      <th mat-header-cell *matHeaderCellDef> Date de rendu </th>
      <td mat-cell *matCellDef="let element"> {{element.dateDeRendu|date:'dd/M/YYYY'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="rendu">
      <th mat-header-cell *matHeaderCellDef> rendu </th>
      <td mat-cell *matCellDef="let element"> {{element.rendu}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="afficheDetail(row)">

    </tr>
    
  </table>
  
  
  
<!--



    <mat-list>
        @for(a of assignments; track a._id) {
            <nav>
                <a routerLink="/assignments/{{a._id}}">
                    <h3 mat-sub-header>{{a.dateDeRendu | date:'d/M/YY'}}</h3>   
                    <div>
                        @if(a.rendu) {
                            <mat-list-item appRendu>
                                Devoir initulé {{a.nom}} a été rendu.
                            </mat-list-item>
                        } @else {
                            <mat-list-item appNonRendu>
                                le devoir {{a.nom}} n'a pas été rendu!
                            </mat-list-item>
                        }
                    </div>
                    <mat-divider></mat-divider>
                </a>
            </nav>
        }
    </mat-list>
<h3>Ici en tableau</h3>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Date de rendu</th>
            <th>Rendu</th>
        </tr>
    </thead>
    <tbody>
        @for(a of assignments; track a._id) {
        <tr>
            <td>{{a.nom}}</td>
            <td>{{a.dateDeRendu|date:'d/M/YY'}}</td>
            <td>{{a.rendu}}</td>
        </tr>
        }
    </tbody>

</table>


-->
