<mat-sidenav-container class="app-sidenav-container">
  <!-- Barre latérale -->
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
      <button mat-list-item routerLink="/home" (click)="sidenav.close()">
        <mat-icon>home</mat-icon>
        <span>Accueil</span>
      </button>
      <button mat-list-item routerLink="/assignments" (click)="sidenav.close()">
        <mat-icon>list</mat-icon>
        <span>Liste des devoirs</span>
      </button>
      <button mat-list-item routerLink="/add" (click)="sidenav.close()">
        <mat-icon>add</mat-icon>
        <span>Ajouter un devoir</span>
      </button>
      <button mat-list-item (click)="genererDonneesDeTest()">
        <mat-icon>database</mat-icon>
        <span>Remplir BD</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenu principal -->
  <mat-sidenav-content>
    <!-- Toolbar -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-title">AssignmentApp</span>
      <span class="spacer"></span>
      <button mat-button color="accent" (click)="login()">Login</button>
      <button mat-button color="warn" (click)="logout()">Logout</button>
    </mat-toolbar>

    <!-- Contenu routé -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

