  
  <button mat-button color="primary"(click)="login()"> login</button>
  <button mat-button color="primary"(click)="logout()"> logout</button>


<mat-toolbar color="primary">
   
<mat-toolbar-row>
  <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
</mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav [(opened)]="opened" #sidenav mode="side">
    <mat-nav-list>
      <button mat-list-item routerLink="/home" (click)="sidenav.close()">
        <mat-icon>home</mat-icon>
        <span>Accueil</span>
      </button>
      <button mat-list-item routerLink="/assignments" (click)="sidenav.close()">
        <mat-icon>list</mat-icon>
        <span>Liste des devoirs</span>
      </button>
      <button mat-list-item routerLink="/add" (click)="sidenav.close()">
        <mat-icon>add</mat-icon>
        <span>Ajouter un devoir</span>
      </button>
      <button mat-list-item (click)="genererDonneesDeTest()">
        <mat-icon>database</mat-icon>
        <span>Remplir BD</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

